
/* STILSETTING AV KORT BEGYNNER HER */

.delete-button {
    background: hsl(5, 74%, 33%);
}

.close-button {
    background: hsl(197, 61%, 25%);
}

.deny-delete-button {
    background: hsl(197, 61%, 25%);
}

.deny-add-button {
    background: hsl(197, 61%, 25%);
}

.confirm-add-button {
    background: hsl(125, 100%, 19%);
}

.save-button {
    background: hsl(125, 100%, 19%);
}

.search-button {
    background: hsl(197, 61%, 25%);
}

.show-all-button {
    background: hsl(197, 61%, 25%);
}

.link-button {
    background: hsl(25, 42%, 28%);
}

.button {
    color: hsl(0,0%,100%);
    border-radius: 25px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.edit-button {
    background: hsl(125, 100%, 19%);
}

.confirm-delete-button {
    background: hsl(5, 74%, 33%);
}

.add-button {
    background: hsl(125, 100%, 19%);
}

.card {
    background: hsl(40, 67%, 67%);
    color: hsl(0,0%,0%);
    border-radius: 25px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

/* STILSETTING AV KORT AVSLUTTES HER */

/* Bakgrunns farge */
html {
    background: hsl(0, 0%, 90%);
}

/* CSS for navbaren med bilde */
.has-bg-img { 
    background: linear-gradient(hsl(0, 0%, 89%),hsl(25, 42%, 43%));
    opacity:1.0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}

/* For teksten Gyldne Pizza */
.title-left {
    position: relative;
    left: 500px;
    top: 50px;
    color: hsl(208, 100%, 97%);
    color: hsl(208, 100%, 97%);
    font-style: italic;
    font-size: 54px;
}

/* For navbaren med knapper */
.navbarTwo-color {
    justify-content: center;
    border-radius: 15px;
    background: hsl(25, 42%, 28%);
    color: hsl(208, 100%, 97%);
    width: 130px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}

.navbarItemClass {
    position: relative;
    top: 90px;
}

/* for Burger*/

.burger-css {
    border-radius: 15px;
    background: hsl(25, 42%, 28%);
    color: hsl(208, 100%, 97%);
    margin: 5px;
    padding:3px;
}

.burger-bg {
    background: linear-gradient(hsl(0, 0%, 89%),hsl(25, 42%, 43%));
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}
/*----------*/

/*for innholdet på kortene på hjemmesiden */

.card-style {
    justify-content: center;
    border-radius: 10px;
    margin: 1px;
    background: hsl(25, 42%, 28%);
    color: hsl(208, 100%, 97%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}

.rounded-borders {
    height: 200px;
    width: 300px;
    border-color: #666 #8ebf42;
    border-image: none;
    border-radius: 50px 0 50px 0;
    border-style: solid;
    border-width: 20px;
  }

/* For side menyen */
.menu-bgstyle {
    border-radius: 25px;
    background: hsl(40, 67%, 67%);
    padding: 20px;
    color: hsl(0,0%,0%);
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}

.container-color {
    border-radius: 15px;
    background: hsl(40, 67%, 67%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}

.red-input {
    border: 1px solid red;
  }

 /* Footer */

.footer {
    background: linear-gradient(hsl(25, 42%, 43%), hsl(0, 0%, 89%));
}

 /* Gå til toppen button */

 #top-btn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 20.5%;
    left: 77.25%;
    max-width: 100px;
    width: 100%;
    font-size: 14px;
    border-color: hsl(25, 42%, 28%);
    background-color: hsl(25, 42%, 28%);
    padding: .5px;
    border-radius: 25px;

 }
 

 a {
    color: hsl(0,0%,100%);
}

 
