
/* STILSETTING AV KORT BEGYNNER HER */

.delete-button {
    background: hsl(5, 74%, 33%);
    border-radius: 25px;
}

.close-button {
    background: hsl(197, 61%, 25%);
    border-radius: 25px;
}

.deny-delete-button {
    background: hsl(197, 61%, 25%);
    border-radius: 25px;
}

.deny-add-button {
    background: hsl(197, 61%, 25%);
}

.confirm-add-button {
    background: hsl(125, 100%, 19%);
}

.save-button {
    background: hsl(125, 100%, 19%);
    border-radius: 25px;
}

.search-button {
    background: hsl(197, 61%, 25%);
}

.show-all-button {
    background: hsl(197, 61%, 25%);
}

.button {
    color: hsl(0,0%,100%);
    border-radius: 25px;
}

.edit-button {
    background: hsl(125, 100%, 19%);
    border-radius: 25px;
}

.confirm-delete-button {
    background: hsl(5, 74%, 33%);
    border-radius: 25px;
}

.add-button {
    background: hsl(125, 100%, 19%);
}

.card {
    background: hsl(40, 67%, 86%);
    color: hsl(0,0%,0%);
    border-radius: 25px;
}

/* STILSETTING AV KORT AVSLUTTES HER */

/* Bakgrunns farge */
html {
    background: hsl(0, 0%, 90%);
}

/* CSS for navbaren med bilde */
.has-bg-img { 
    background: linear-gradient(hsl(0, 0%, 89%),hsl(25, 42%, 43%));
    opacity:1.0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}

/* For teksten Gyldne Pizza */
.title-left {
    position: relative;
    left: 500px;
    top: 50px;
    color: hsl(208, 100%, 97%);
    color: hsl(208, 100%, 97%);
    font-style: italic;
    font-size: 54px;
}

/* For navbaren med knapper */
.navbarTwo-color {
    justify-content: center;
    border-radius: 15px;
    background: hsl(25, 42%, 28%);
    color: hsl(208, 100%, 97%);
    width: 130px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}

.navbarItemClass {
    position: relative;
    top: 90px;
}

.burger-css {
    border-radius: 15px;
    background: hsl(25, 42%, 28%);
    color: hsl(208, 100%, 97%);
    margin: 5px;
    padding:3px;
}

.burger-bg {
    background: linear-gradient(hsl(0, 0%, 89%),hsl(25, 42%, 43%));
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}

/* For side menyen */
.menu-bgstyle {
    border-radius: 25px;
    background: hsl(40, 67%, 67%);
    padding: 20px;
    color: hsl(0,0%,0%);
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}

.container-color {
    border-radius: 15px;
    background: hsl(40, 67%, 67%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);

}

.red-input {
    border: 1px solid red;
  }


